.button {
    position: relative;
    padding: 8px 16px;
    background: #ff3838;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    color: #ffffff;
    width: fit-content;
    margin: 0.5%;
    font-size: 24px;
}

.button__text {
    font: bold 20px 'Roboto', san-serif;
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
   
.commands-div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    /*ALign center*/
    align-items: center;
    justify-content: center;
}

.select-tier {
    border: none;
    justify-content: center;
    position: relative;
    width: fit-content;

    /*Center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;
    font-size: 16px;
    flex-shrink: 1;
    z-index: 4;
}