<div class="poke-disp-card">
    <img src="assets/images/pokeball.png" class="pokeball-img" alt="pokeball">
    <span class="resizable">
        <img [src]="pokeInfos.imageUrl" class="poke-img" alt="poke image" (error)="fixImage()">
    </span>
    <button (click)="updateLock()" class="lock-button">
        <img class="lock-icon" src="{{imageLock}}" alt="lock icon">
    </button>
    <select class="select-pkm-name"  (change)="setPoke($event)" [value]="pokeInfos.name">
        <option *ngFor="let pokeName of pokeNamesList" [value]="pokeName" [selected]="pokeName == pokeInfos.name">{{pokeName}}</option>
    </select>
</div>