
.div-header {
    //Header with drop shadow
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

.title-text {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #383838;
    margin-bottom: 3%;
}