.div-header {
    background: #ff3838;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding-bottom:0.5% ;
    padding-top:1% ;
}

.title-text {
    font-size: 2.5em;
    text-align: center;
    color: #FFFFFF;
}


.nav-bar {
    //Create a nav bar horizontally under the div header
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin-bottom: 2%;
}


.button-header {
    //Create button 
    //Make them go over the header
    position: relative;
    z-index: 1;
    //Make them look like buttons
    background-color: #ff3838;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 16px;

    //Add shadow
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    
}
